@import url("https://fonts.cdnfonts.com/css/scientific-calculator-Lcd");

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: black solid 1px;
    width: 500px;
    margin: 50px auto;
    background-color: grey;
    border-radius: 10px;
}

#display{
    margin-top: 50px;
    margin-bottom: 40px;
    border: black solid 1px;
    width: 395px;
    height: max-content;
    line-height: 60px;
    border-radius: 9px;
    padding: 10px;
    background-color: lightgrey;
}

#previousScreen ,#currentScreen{
    height: 30px;
    text-align: right;
    font-family: 'Scientific Calculator LCD',sans-serif;
    padding: 5px;
}

#currentScreen{
    font-size: 30px;
}

#key{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    margin-bottom: 30px;
    gap: 5px;
}

button.buttons{
    border: black solid 1px;
    line-height: 100px;
    border-radius: 9px;
    font-size: 20px;
}

button.operation{
    background-color: aquamarine;
}

button.equate{
    background-color: rgb(231, 93, 42);
    grid-column: span 4;
}

.buttons:nth-child(15){
    grid-row: 5;
}

.buttons:nth-child(11){
    grid-column-start: 4;
    grid-row-start: 1;
}
.buttons:nth-child(12){
    grid-row-start: 2;
    grid-column-start: 4;
}
.buttons:nth-child(13){
    grid-row-start: 3;
    grid-column-start: 4;
}
.buttons:nth-child(14){
    grid-row-start: 4;
    grid-column-start: 4;
}
.decimal{
    grid-column-start: 2;
    grid-row-start: 4;
}
