#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: black solid 1px;
    width: 500px;
    margin: 50px auto;
    background-color: grey;
    border-radius: 10px;
}

#display{
    margin-top: 50px;
    margin-bottom: 40px;
    border: black solid 1px;
    width: 395px;
    height: 60px;
    line-height: 60px;
    border-radius: 9px;
    padding: 10px;
    background-color: rgb(22, 185, 190);
}

#key{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4,100px);
    margin-bottom: 20px;
    gap: 5px;
}

button.buttons{
    border: black solid 1px;
    line-height: 100px;
    border-radius: 9px;
}

button.numbers{
    background-color: lightgray;
}

button.operation{
    background-color: aquamarine;
}

button.equate{
    background-color: orangered;
}
